.payout-per-point-info {
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 var(--core-spacing-400);
    }

    &__label {
        border-bottom: 1px dotted currentcolor;
    }

    &__definition {
        &__wrapper {
            padding: var(--component-actionSheet-spacing-padding-lg);
        }

        &__title {
            margin-block-end: var(--component-actionSheet-spacing-padding-lg);
        }
    }

    &__button {
        padding: var(--component-actionSheet-spacing-padding-lg);
    }
}
