.dc-toggle-switch {
    height: 0;
    width: 0;
    visibility: hidden;

    &__label {
        display: flex;
        align-items: center;
        padding-left: 0.4rem;
        cursor: pointer;
        width: 4.9rem;
        height: 2.52rem;
        background: var(--color-interactive-disabled);
        border-radius: 4.9rem;
        transition: background-color 0.25s;
    }
    &__button {
        width: 1.9rem;
        height: 1.9rem;
        border-radius: 1.9rem;
        transition: transform 0.25s;
        background: var(--color-surface-primary);
    }
    &:checked + &__label {
        background: var(--color-text-success);
    }
    &:checked + &__label &__button {
        transform: translateX(2.25rem);
    }
}
