.barrier-popover {
    height: 26rem;

    &__layout {
        display: flex;
        width: 100%;
        height: 100%;
        gap: var(--core-spacing-800);
    }

    &__sidebar {
        width: 10.4rem;
        flex-shrink: 0;
        border-right: 0.1rem solid var(--component-divider-default);
        background-color: transparent;
        overflow-y: auto;
    }

    &__main {
        flex: 1;
        display: flex;
        flex-direction: column;
        min-width: 0;
    }

    &__content {
        flex: 1;
        overflow-y: auto;
    }
}
