/*------------------------------------*
 *  # Base Constants
 *------------------------------------*/

/* LAYOUT CONSTANTS */

$BORDER_RADIUS: 4px;
$BORDER_RADIUS_2: 8px;

$MAX_CONTAINER_WIDTH: 1440px;

$POSITIONS_DRAWER_WIDTH: 304px;
$POSITIONS_DRAWER_MARGIN: 8px;

$HEADER_HEIGHT: 48px;
$FOOTER_HEIGHT: 36px;

$MOBILE_HEADER_HEIGHT: 56px;
$MOBILE_HEADER_DTRADER_V2_HEIGHT: 56px;
$MOBILE_HEADER_DTRADER_V2_WITH_BANNER_HEIGHT: 128px;
$MOBILE_HEADER_HEIGHT_DASHBOARD: 56px;
$MOBILE_WRAPPER_HEADER_HEIGHT: 56px;
$MOBILE_WRAPPER_FOOTER_HEIGHT: 70px;

$SIDEBAR_WIDTH: 240px;
