.account-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    gap: 3rem;

    &--loading {
        margin-left: 1.6rem;
    }

    &__container {
        display: flex;
        flex-direction: column;
        position: relative;
        min-width: 0;

        &--highlighted {
            z-index: 10001;
            position: relative;
            background: var(--color-interactive-hover);
            border-radius: 8px;
        }
    }

    &__info {
        display: flex;
        align-items: center;
        gap: 0.8rem;
        flex: 1;
        min-width: 0;
        cursor: pointer;

        &--no-switcher {
            cursor: default;
        }
    }

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 0;
        min-width: 14.25rem;
        padding: 0.7rem 1.6rem;
        border-radius: 8px;
    }

    &__content-header {
        display: flex;
        align-items: center;
        gap: 0.4rem;
    }

    &__balance {
        white-space: nowrap;
    }

    &__logged-out {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-left: 2rem;
    }

    &__signup {
        border-radius: 24px;
        background-color: transparent;
        transition: opacity 0.2s ease;

        &:hover {
            opacity: 0.8;
        }

        &:active {
            opacity: 0.6;
        }
    }

    &__login {
        background-color: var(--color-button-primary-bg);
        border-radius: 24px;
        transition: opacity 0.2s ease;

        &:hover {
            opacity: 0.8;
        }

        &:active {
            opacity: 0.6;
        }
    }

    &__transfer {
        background: var(--color-button-primary-bg);
        border-radius: 24px;
    }

    &__select-arrow {
        pointer-events: none;
        transform: rotate(0);
        transform-origin: 50% 45%;
        transition: transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);

        &--invert {
            transform: rotate(180deg);
        }
    }
}
